[Desktop Entry]
Comment=Launch Icedrive
Type=Application
Name=Icedrive

Exec=/home/fedora/AppImages/icedrive.appimage --no-sandbox --disable-gpu
TryExec=/home/fedora/AppImages/icedrive.appimage
Icon=/home/fedora/AppImages/.icons/icedrive.png
Categories=Utility;

X-AppImage-Version=7dbe39
