[Desktop Entry]
Name=pcloud
Comment=pCloud Drive Client built using electron and node.js. Distributed with AppImage.
Exec=/home/fedora/AppImages/pcloud.appimage
TryExec=/home/fedora/AppImages/pcloud.appimage
Icon=/home/fedora/AppImages/.icons/pcloud.png
Terminal=false
Type=Application

StartupWMClass=pcloud
X-AppImage-Version=1.14.11
Categories=Network;
X-AppImage-BuildId=2uWgIf5Q0g6kfS1repc3KsgoOCd

X-AppImage-Version=1.14.11
