[Desktop Entry]
Version=1.0
Type=Application
Name=VSCode
GenericName=VSCode
Comment=Code Editing. Redefined.
Exec=/home/fedora/AppImages/vscode.appimage --unity-launch %F
TryExec=/home/fedora/AppImages/vscode.appimage
Icon=/home/fedora/AppImages/.icons/vscode.png

Categories=TextEditor;Development;IDE;
StartupWMClass=Code
StartupNotify=true
Keywords=vscode;Visual Studio Code;Code;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;

[Desktop Action new-empty-window]
Name=VSCode
Exec=/home/fedora/AppImages/vscode.appimage --unity-launch %F
TryExec=/home/fedora/AppImages/vscode.appimage
Icon=/home/fedora/AppImages/.icons/vscode.png


X-AppImage-Version=136f49
